.imagesWrapper {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: 28px;

    .imageItem {
        position: relative;
        margin-right: 14px;
        margin-bottom: 14px;
    }

    .deleteBtn {
        z-index: 5;
        border-radius: 50%;
        position: absolute;
        right: -4px;
        top: -4px;
    }

    .iconDelete {
        z-index: -1;
    }

    .image {
        width: 150px;
        height: 150px;
    }
}

.iconAddImage  {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #ccc dotted;

    .iconAdd {
        font-size: 30px;
    }
}