.selectReact {
    color: #000;
}

.InfoComponent {
    width: calc(100% - 250px);
    margin-left: 18px;
    margin-bottom: 40px;

    .itemInfoComponent {
        width: 100%;
        color: #000;
    }
}